:root {
    --orange: #fd9940;
    --darkorange: #dd7d25;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
    --blue: #286ef1;
    --lightblue: #578ff8;
    --darkerblue: #00086c;
}

.container {
    max-width: 85vw;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
}

.codingProfCont {
    max-width: 85vw;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding: 0px;
    list-style: none;
    max-height: fit-content;
}

.codingProfCont .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 8px;
    padding: 0px;
    list-style: none;
    max-height: fit-content;

}



.card {
    display: flex;
    flex-direction: column;
    padding: 10px;

    color: var(--white);
    
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    border-color: transparent;
    transition: all 0.2s;
    margin-bottom: 10px;


    /* From https://css.glass */
    background: rgba(166, 166, 166, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.card:hover {
    color: var(--white);
    background: var(--blue);
}

.card .card-title {
    font-size: 20px;
    margin-top: 2px;
}

.card .card-content {
    padding: 10px;
    margin: 10px 0;
    max-width: 88%;
    display: contents;
}

.card .card-link-wrapper {
    margin-top: auto;
}

.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--lightblue);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}

.card:hover .card-link {
    background: var(--orange);
}
/* mobile  0-499px */
@media (max-width: 499px) { 
    .cards {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }

    .codingProfCont .cards {
        grid-template-columns: 1fr;
    }

    .container {
        max-width: 92vw;
    }
}
/* 500-700px  */
@media (min-width: 500px) {
    .cards {
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
    }

    .codingProfCont .cards {
        grid-template-columns: 1fr 1fr;
    }

    .container {
        max-width: 92vw;
    }
}
/* 700-1100px */
@media (min-width: 700px) {
    .cards {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }

    .codingProfCont .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container {
        max-width: 88vw;
    }
}
/* above 1100px */
@media (min-width: 1100px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
    }

    .codingProfCont .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .container {
        max-width: 85vw;
    }
}

.codingProfCont .cards .card {
    background: rgba(166, 166, 166, 0.445);

}
.codingProfCont .cards .card .card-content img {
    margin-bottom: 10px;
}

.cards-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
    /* margin: 0 -10px; */
    position: relative;
}

.my-carousel-item{
    margin: 10px;
    scroll-snap-align: center;
    min-width: 30%;
    
}
.scrollBtn{
    position: sticky;
    z-index: 200;
    
    border: none;
    
    border-radius: 5px;
    padding: 20px;

    margin-top: 0;
    margin-bottom: 0;

    background: rgba(78, 78, 78, 0.472);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 6px );
    
}
.scrollBtnLeft{
left: 0px;
border-radius: 30px 0 0 30px;
}
.scrollBtnRight{
right: 0px;
border-radius: 0 30px 30px 0;
}

.card-img-top{
    min-height: 150px;
    max-height: 150px;
    object-fit: contain;
    opacity: 0.88;
}