:root {
    --orange: #fd9940;
    --darkorange: #dd7d25;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
    --blue: #286ef1;
    --lightblue: #578ff8;
    --darkerblue: #00086c;

}


.container {
    max-width: 85vw;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
}

.codingProfCont {
    max-width: 85vw;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;

}

.cards {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding: 0px;
    list-style: none;
    max-height: fit-content;
}

.codingProfCont .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 8px;
    padding: 0px;
    list-style: none;
    max-height: fit-content;

}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    transition: all 0.2s;
    margin-bottom: 10px;
}


.card:hover {
    color: var(--white);
    background: var(--blue);
}

.card .card-title {
    font-size: 20px;
    margin-top: 2px;
}

.card .card-content {
    padding: 10px;
    margin: 10px 0;
    max-width: 88%;
    display: contents;
}

.card .card-link-wrapper {
    margin-top: auto;
}

.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--lightblue);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}

.card:hover .card-link {
    background: var(--orange);
}

@media (max-width: 499px) {
    .cards {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }

    .codingProfCont .cards {
        grid-template-columns: 1fr;
    }

    .container {
        max-width: 92vw;
    }
}

@media (min-width: 500px) {
    .cards {
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
    }

    .codingProfCont .cards {
        grid-template-columns: 1fr 1fr;
    }

    .container {
        max-width: 92vw;
    }
}

@media (min-width: 700px) {
    .cards {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }

    .codingProfCont .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container {
        max-width: 88vw;
    }
}

@media (min-width: 1100px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
    }

    .codingProfCont .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .container {
        max-width: 85vw;
    }
}

.footer-anchor {
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #286ef15e;
    margin-bottom: 6px;
    padding: 6px;
}

.footer-anchor img {
    display: inline;
    vertical-align: middle;
    height: 24px;
    margin-right: 5px;
}

.footer-anchor span {
    display: inline;
    vertical-align: middle;
}

.footer-anchor:link,
.footer-anchor:visited {
    color: black;
}

.footer-anchor:hover,
.footer-anchor:active {
    background-color: var(--darkerblue);
    text-decoration: none;
    color: white;
}

.BgBc:hover {
    background-image: url('../images/bg_bc.png');

}

.BgCh:hover {
    background-image: url('../images/bg_ch.png');
}

.BgAr:hover {
    background-image: url('../images/bg_ar.gif');
}

.BgCl:hover {
    background-image: url('../images/bg_cl.png');
}

.BgImgCard:hover {
    background-repeat: no-repeat;
    background-size: contain;

    background-position: center;
    background-color: transparent;
    color: transparent;

    border-color: transparent;
    box-shadow: none;

    filter: drop-shadow(8px 4px 20px rgba(131, 131, 131, 0.753));
}